<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="2ship2harkinian"
    Publisher="CN=odolwa"
    Version="0.1.0.1" />

  <mp:PhoneIdentity PhoneProductId="5a528e66-e0fc-43fb-b377-ce0b1bb0d3e8" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>2ship2harkinian</DisplayName>
    <PublisherDisplayName>SternXD</PublisherDisplayName>
    <Logo>UwpAssets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="uwp.App">
      <uap:VisualElements
        DisplayName="2ship2harkinian"
        Square150x150Logo="UwpAssets\Square150x150Logo.png"
        Square44x44Logo="UwpAssets\Square44x44Logo.png"
        Description="Port of 2ship2harkinian for UWP"
        BackgroundColor="transparent">
	<!--<uap:SplashScreen Image="UwpAssets\SplashScreen.png" /> -->
        <uap:DefaultTile/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust"/>
    <rescap:Capability Name="broadFileSystemAccess" />
    <rescap:Capability Name="expandedResources" />
    <Capability Name="internetClient" />
    <uap:Capability Name="removableStorage"/>
    <Capability Name="codeGeneration"/>
    <Capability Name="internetClientServer"/>
    <Capability Name="privateNetworkClientServer"/>

  </Capabilities>
</Package>
